[submodule "alignment/profiler/vllm"]
	path = alignment/profiler/vllm
	url = https://github.com/serendipity-zk/vllm.git
	branch = moesim-profile
[submodule "alignment/profiler/sglang"]
	path = alignment/profiler/sglang
	url = https://github.com/serendipity-zk/sglang.git
	branch = vibesim-alignment
[submodule "alignment/load_generator/req-frontend"]
	path = alignment/load_generator/req-frontend
	url = https://github.com/uw-syfi/request-factory.git
	branch = main
