[submodule "alignment/profiler/vllm"]
	path = alignment/profiler/vllm
	url = https://github.com/serendipity-zk/vllm.git
	branch = moesim-profile
[submodule "alignment/load_generator/req-frontend"]
	path = alignment/load_generator/req-frontend
	url = https://github.com/serendipity-zk/req-frontend.git
	branch = main
